*{
    margin: 0;
}

body{
    font-family: 'Poppins';
    --primary-dark-blue: #141930;
    --primary-bright-purple: #5c21b3;
    --primary-dark-gray: #313c4b;
    --primary-light-gray: #f3f3f3;

    --accent-teal: #6db094;
    --accent-yellow: #f7e49a;
    --accent-brown: #614338;
    --accent-dark-teal: #2d6647;

    min-height: 100vh;
    color: var(--primary-light-gray);
}

footer{
    height: 80px;
    background-color: var(--primary-dark-blue);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    bottom: 0;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--primary-light-gray);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary-bright-purple);
  }

.create-todo-item-modal{
    width: 300px;
    height: 250px;
    border-radius: 18px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 40%;
    background-color: var(--primary-dark-gray);
    display: none;
}

.create-todo-item-modal__title{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary-light-gray);
    color: var(--primary-light-gray);
    height: 15%;
    text-indent: 15px;
}

.create-todo-item-modal__title::placeholder{
    color: var(--primary-light-gray);
}

.create-todo-item-modal__description{
    border: 1px solid var(--primary-light-gray);
    color: var(--primary-light-gray);
    font-family: inherit;
    outline: none;
    background: none;
    height: 50%;
    width: 90%;
    text-indent: 15px;
    margin-top: 5%;
}

.create-todo-item-modal__description::placeholder{
    color: var(--primary-light-gray);
}

.create-todo-item-modal__btn{
    border: none;
    outline: none;
    width: 125px;
    height: 40px;
    background-color: var(--primary-bright-purple);
    color: var(--primary-light-gray);
}

.create-todo-item-modal__btn:hover{
    background-color: var(--primary-light-gray);
    color: var(--primary-bright-purple);
    border: 2px solid var(--primary-bright-purple);
    cursor: pointer;
}

.create-todo-item-modal-overlay{
    display: none;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-mode{
    outline: 1px solid var(--primary-light-gray);
}

.main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 1000px;
    height: 700px;
    background-color: #141930;
}

.main__top-bar{
    display: flex;
    align-items: center;
    height: 80px;
    gap: 20px;
}

.main__top-bar__header{
    margin-left: 50px;
}

.main__top-bar__btn{
    width: 125px;
    height: 40px;
    background-color: var(--primary-bright-purple);
    color: var(--primary-light-gray);
    border: none;
    outline: none;
    border-radius: 6px;
    margin-right: 50px;
    cursor: pointer;
}

.main__top-bar__btn:hover{
    background-color: var(--primary-light-gray);
    color: var(--primary-bright-purple);
    border: 2px solid var(--primary-bright-purple);
}

.main__top-bar__task-count{    
    margin-left: auto;
}

.main__hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.todo-items{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%;
    height: 550px;
    gap: 10px;
    overflow-y: auto;
}

.todo-items__item{
    flex-basis: 30%;
    max-width: 30%;
    height: 250px;
    background-color: var(--primary-dark-gray);
    border-radius: 18px;
    padding: 10px;  
    word-wrap: break-word;
}

.todo-items__item:hover{
    background-color: var(--primary-bright-purple);
}

.todo-items__item__title{
    height: 15%;
}

.todo-items__item__description{
    height: 45%;
    overflow-y: auto;
}

.todo-items__item__date{
    height: 20%;
}

.todo-items__item__footer{
    height: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
}  

.todo-items__item__footer__status{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    width: 125px;
    height: 80%;
    margin-right: auto;
    background-color: var(--accent-teal);
    color: var(--accent-dark-teal);
    cursor: pointer;
}

.todo-items__item__footer__delete{
    cursor: pointer;
}

.todo-items__item__footer__edit{
    cursor: pointer;
}